$color-tone-primary: hsl(150deg, 50%, 50%);
$color-tone-light: hsl(150deg 50% 94%);
$color-brand-primary: hsl(100deg, 50%, 50%);
$color-brand-light: hsl(100deg 50% 92%);
$color-brand-gradient: linear-gradient($color-tone-primary, $color-brand-primary);
$color-surface-primary: hsl(100deg 5% 11%);
$color-surface-secondary: hsl(110deg 3% 28%);
$color-surface-tertiary: hsl(120deg 3% 57%);
$color-surface-light: hsl(120deg 15% 89%);
$color-surface-superlight: hsl(130deg 28% 95%);
$color-red-primary: hsl(2deg 73% 53%);
$color-shadow-bold: 0 10px 50px -10px hsl(0deg 0% 0% / 20%);
